
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: Vazirmatn, sans-serif;
	background-color: #000000;
	color: #fff;
}

.app{
	display: flex;
	position: relative;
}

.boxHistory{
	background-color: aqua;
	opacity: 0.5;
	width: 300px;
	height: 100Vh;
	position: absolute;
	left: 0;
	top: 0;
	display: none;

}

.boxInterest{
	background-color: rgb(102, 255, 0);
	opacity: 0.5;
	width: 300px;
	height: 100Vh;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
.boxMain{
	width: 100%;
	height: 100vh;
}

h1{
	font-size: 27px;
	font-weight: 700;
	text-align: center;
	margin: 40px 0;
}

.btnHistory , .btnInterest{
	background-color:#333333;
	border: none;
	padding: 12px ;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	transition: all .1s;
	cursor: pointer;

}
.btnHistory:hover , .btnInterest:hover{
	background-color: #ff8008;
}

.btnHistory{
bottom: 10px;
left: 10px;
}
.btnInterest{
	bottom: 10px;
	right: 10px;
	}

	.boxSearch{


		display: flex;
		flex-direction: column;
		align-items: center;
		height: 60vh;
		justify-content: end;
	}

	.none{
		display: none;
	}

	#txtSearch{
		background: none;
		border: none;
		border-bottom: 2px solid #333333;
		margin: 20px 0;
		width: 50%;
		font-size: 30px;
		color: #fff;
	}
	#txtSearch:focus{
		outline:none !important;
		outline-offset: none !important;
		-moz-outline:none
	}
	#txtSearch::placeholder{
		opacity: .1;
	}

	.boxBtnSearch button{
		background-color: #ff8008;
		border: none;
		min-width: 100px;
		line-height: 30px;
		font-weight: 600;
		cursor: pointer;
		padding: 10px 20px;
		margin-top: 20px;
		transition:  all .1s;
	}

	.boxBtnSearch button .btn404{
	display: none;
	}
	.boxBtnSearch .looding .btnDefault{ 
		display: none;
	}
	.boxBtnSearch .looding {
		padding: 0;
		min-width: 40px;
		height: 40px;
		border-bottom: 2px solid #fff;
		cursor: not-allowed;
		border-radius: 100px;
		background: transparent;
		animation: mymove 1s infinite;
	}

	@keyframes mymove {
		100% {transform: rotate(360deg);}
	  }


	  .boxBtnSearch .e404{
		background-color: #b80000;
		color: #fff;

	  }
	  .boxBtnSearch .e404 .btn404{
		display: block;
		}
		.boxBtnSearch .e404 .btnDefault{
			display: none;
		}

		.boxDictionary .header button{

			background: transparent;
			border: none;
			color: #fff;
			display: flex;


		}
		.boxDictionary .header {
			width: 100%;
			cursor: pointer;
		
		}
		.boxDictionary .header button span{
			margin-right:10px;
			
		}
		.boxDictionary{
	
			width: 100%;
		
		}

		.main{
			display: flex;
			flex-direction: column;
			
			align-items: center;
			width: 100%;
				}

		.infoWord{
			font-size: 30px;
			margin: 20px;
		}

		.boxAudio{
			display: flex;
			min-width: 300px;
		}
		.boxAudio button{
			background-color: #ff8008;
			border: none;
			padding: 10px;
			margin: 20px ;
			border-radius: 10px;
			cursor: pointer;
			transition: all .1s;
		}
		.boxAudio button:hover{
			transform: translateY(-5px);
		}

		.boxAudio > div{
			width: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;


		}

		.definition{
			margin-top: 20px;
			max-width: 300px;
			line-height: 30px;
		}